BasedOnStyle: llvm
IndentWidth: 8
UseTab: Never
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
AlwaysBreakAfterReturnType: TopLevelDefinitions
ColumnLimit: 100
